.item {
	display: flex;
	flex-direction: column;
	padding: 34px 47px 38px 47px;
	border: 1px solid rgba(#fff, 0.1);
	border-radius: 25px;

	@media (max-width: 768px) {
		width: 100%;
	}

	@media (max-width: 576px) {
		align-items: center;
		text-align: center;
		padding: 20px 0 26px;
	}
}

[data-theme='light'] {
	.item .title {
		color: #fff;
	}
}

.desc {
	margin: 0;
	font-size: 14px;
	line-height: 25px;
	max-width: 183px;
	color: #b6bdd5;
	margin-bottom: 20px;

	@media (max-width: 768px) {
		max-width: 100%;
	}

	@media (max-width: 576px) {
		line-height: 20px;
		margin-bottom: 12px;
		max-width: 183px;
	}
}

.link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	background-color: rgba(#fff, 0.1);
	padding: 14px 54px 12px 23px;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
	letter-spacing: 0.05em;
	transition: background-color 0.3s;

	&:hover {
		background-color: rgba(#fff, 0.2);
	}

	svg {
		position: absolute;
		top: 4px;
		right: 4px;
		display: block;
		width: 40px;
		height: 40px;
		margin-left: 10px;
	}
}
