.video-js {
    display: block;
    width: 100%;
    height: 100vh;

    video {
        outline: none;
    }
}

.video-js div.vjs-control-bar {
    display: flex;
}

.vjs-default-skin.vjs-paused .vjs-control-bar
{
    display: flex;
}

#PlayVid_display_button_play {display:none!important;}
#PlayVid_display_button {background:none!important;}