.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.playerFullScreen {
        .close {
            display: none;
        }
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.close {
    display: block;
    position: absolute;
    z-index: 2;
    top: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    color: #fff;

    @media (max-width: 576px) {
        top: 25px;
        left: 20px;
		width: 30px;
		height: 30px;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    outline: none;

    &::-webkit-media-controls {
        display:none !important;
    }

    &::-webkit-media-controls-enclosure {
        display:none !important;
    }
}

.fullscreen {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    
    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.controlBar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    position: absolute;
    width: 100%;
    bottom: 42px;
    left: 0;
    right: 0;
}

.play {
    display: block;
    width: 40px;
    height: 40px;
    outline: none;
    
    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        fill: #fff;
    }
}

.range {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    margin-right: 12px;
}

.time {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}