.form {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	min-width: var(--min-width);
	pointer-events: none;
	transition: opacity 0.3s;

	@media (max-width: 1500px) {
		right: 0;
		left: auto;
		width: 80%;
		max-width: 550px;
	}

	@media (max-width: 576px) {
		left: 0;
		max-width: 100%;
		width: 100%;
		height: 62px;
	}

	.search {
		width: 100%;
		height: 100%;
		padding-left: 50px;
		padding-right: 50px;

		@media (max-width: 576px) {
			border-radius: 0;
			padding-left: 55px;
		}
	}
}

.icon {
	display: block;
	position: absolute;
	z-index: 2;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;

	@media (max-width: 576px) {
		width: 25px;
		height: 25px;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: #61677a;
	}
}

.visible {
	opacity: 1;
	pointer-events: all;
}

.close {
	display: block;
	position: absolute;
	z-index: 2;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: #61677a;
	}
}
