.section {
	position: relative;
	height: 100%;
	background-color: var(--color-dark);
	transition: background-color 0.3s;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		pointer-events: none;
		background-image: url('/background.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: filter 0.3s;
	}
}

[data-theme='light'] {
	.section:before {
		filter: invert(100%);
	}
}

.container {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 248px;
	padding-bottom: 151px;
	height: inherit;

	@media (max-width: 576px) {
		padding-top: 200px;
		padding-bottom: 90px;
	}
}

.image {
	display: block;
	width: 451px;
	height: 187px;
	margin-bottom: 41px;

	@media (max-width: 1024px) {
		width: 345px;
		height: 144px;
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		width: 327px;
		height: 136px;
		max-width: 100%;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: var(--color-white);
		transition: fill 0.3s;
	}
}

.desc {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 51px;
	color: var(--color-light);
	transition: color 0.3s;

	@media (max-width: 1024px) {
		margin-bottom: 40px;
		text-align: center;
		max-width: 409px;
	}

	@media (max-width: 576px) {
		padding: 0;
		max-width: 289px;
		font-size: 16px;
		line-height: 22px;
	}
}
