.table {
	width: 100%;
}

.top {
	display: grid;
	grid-template-columns: 244px 366px auto;

	@media (max-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.nameCol {
	font-size: 16px;
	line-height: 28.8px;
	font-weight: 500;
	color: #52596c;

	@media (max-width: 576px) {
		font-size: 16px;
		line-height: 28.8px;
	}

	@media (max-width: 360px) {
		font-size: 14px;
		line-height: 25.8px;
	}
}

.rows {
	display: grid;
	grid-template-columns: 244px 366px auto;
	border-bottom: 1px solid rgba(#fff, 0.1);

	@media (max-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.col {
	font-size: 28px;
	line-height: 50.4px;
	color: var(--color-white);
	padding-top: 5px;
	padding-bottom: 8px;

	@media (max-width: 576px) {
		font-size: 18px;
		line-height: 32.4px;
	}

	@media (max-width: 360px) {
		font-size: 16px;
		line-height: 28.8px;
	}
}

.date {
	font-weight: 700;
}

.errorMessage {
	color: var(--color-white);	
}