.burger {
	display: block;
	width: 35px;
	height: 35px;
	color: var(--color-white);

	@media (min-width: 1025px) {
		display: none;
	}

	@media (max-width: 576px) {
		width: 24px;
		height: 24px;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
		stroke: currentColor;
	}
}
