.container {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	column-gap: 24px;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 40px;
	margin-bottom: 80px;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 60px;
	}

	@media (max-width: 576px) {
		column-gap: 12px;
		row-gap: 20px;
		margin-bottom: 40px;
	}
}

.btn {
	display: flex;
	margin: 0 auto;
}
