html {
	box-sizing: border-box;
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: var(--min-width);
	min-height: 100%;
	font-weight: 300;
	font-size: 16px;
	background-color: var(--color-dark);
	color: var(--color-light);
	transition: background-color 0.3s, color 0.3s;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.lock {
	overflow: hidden;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	margin: 0 auto;
	padding-left: var(--container-offset);
	padding-right: var(--container-offset);
	max-width: var(--container-width);
}

.swiper-button-lock[disabled] {
	display: none;
}

.swiper-slide.swiper-slide-active {
	opacity: 1;
}

.modal-enter {
	opacity: 0;
}

.modal-enter-active {
	opacity: 1;
}

.modal-exit {
	opacity: 1;
}

.modal-exit-active {
	opacity: 0;
}

#nprogress .bar {
	box-shadow: 0px 4px 4px rgba(252, 161, 26, 0.25);
}
// .plyr__controls .plyr__controls__item:first-child {
// 	margin-left: 0;
// 	margin-right: auto;
// 	display: none;
// }

.plyr__progress__buffer {
	background: rgba(255, 255, 255, 0.2) !important;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #fca11a !important;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type='range']::-webkit-slider-thumb:hover {
	box-shadow: rgba(#fca11a, 0.3) 0px 0px 0px 8px !important;
}

input[type='range']::-webkit-slider-thumb:active {
	box-shadow: rgba(#fca11a, 0.3) 0px 0px 0px 11px !important;
	transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input[type='range'] {
	color: #fca11a !important;
}
.plyr__control--overlaid {
	background-color: #fca11a !important;
	color: black !important;
}
.plyr__control:hover {
	background-color: #fca11a !important;
}
.plyr__control[aria-expanded='true'] {
	background-color: #fca11a !important;
}
@media screen and (max-width: 768px) {
	.plyr__controls {
		display: grid !important;
		grid-template-columns: 40px 40px 40px 1fr 1fr 1fr 1fr 120px 40px 40px;
	}
	.plyr__controls .plyr__controls__item.plyr__progress__container {
		position: absolute;
		width: 90%;
		left: 10px;
		top: 0px;
	}
	.plyr__controls:nth-child(6) {
		display: none;
	}
	.plyr__controls .plyr__controls__item.plyr__time {
		position: absolute;
		top: -1.5px;
		right: 10px;
	}
	.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
		position: absolute;
		top: -90vh;
		right: 15px;
		z-index: 999;
		opacity: 0.8 !important;
	}
	.plyr--fullscreen-enabled [data-plyr='fullscreen']:hover {
		background-color: transparent !important;
		opacity: 1 !important;
	}
	.plyr__volume {
		grid-column-start: 8;
		width: 100% !important;
	}
}
@media screen and (max-width: 650px) {
	.plyr__controls .plyr__controls__item.plyr__progress__container {
		width: 88%;
	}
}
@media screen and (max-width: 530px) {
	.plyr__controls .plyr__controls__item.plyr__progress__container {
		width: 85%;
	}
}
@media screen and (max-width: 480px) {
	.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
		position: absolute;
		top: -92.3vh !important;
		right: 15px;
		z-index: 999;
		opacity: 0.8 !important;
	}
}
@media screen and (max-width: 420px) {
	.plyr__controls .plyr__controls__item.plyr__progress__container {
		width: 80%;
	}
}
