.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	width: 162px;
	height: 162px;
	flex-shrink: 0;
	border-radius: 100%;
	background-color: #13213c;
	color: #fff;

	@media (max-width: 1200px) {
		width: 140px;
		height: 140px;
		font-size: 50px;
		line-height: 65px;
	}

	@media (max-width: 768px) {
		width: 130px;
		height: 130px;
	}

	@media (max-width: 576px) {
		width: 117px;
		height: 117px;
		font-size: 34px;
		line-height: 43px;
	}
}
