.absolute {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
