.absolute {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    overflow: hidden;

    @media (max-width: 768px) {
        footer {
            display: none;
        }
    }
}

.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}