.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 20px;
    line-height: 26px;
    background-color: var(--color-primary);
    padding: 21px 30px 18px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;

    &[disabled] {
        opacity: 0.8;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--color-primary-active);
    }
}

.gradient {
    background: linear-gradient(314.12deg, #EFDA1D -47.81%, #FCA11A 67.79%);

    &:hover {
        background: linear-gradient(319.22deg, #EFDA1D 13.05%, #FCA11A 82.02%);
    }
}

.small {
    font-size: 16px;
    line-height: 28.8px;
    padding: 14px 20px 12px;
    min-width: 276px;
}

.icon {
    display: block;
    width: 25px;
    height: 27px;
    margin-right: 7px;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
        stroke: currentColor;
    }
}

.white {
    background-color: #fff;
    color: var(--color-primary);

    &:hover {
        color: #fff;
        background-color: var(--color-primary);
    }
}

.dark {
    background-color: #141f34;
    color: var(--color-primary);

    &:hover {
        background-color: #212B3b;
        color: var(--color-primary-active);
    }
}