.row {
	display: grid;
	align-items: flex-start;
	gap: 24px;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 47px;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		row-gap: 14px;
		grid-template-columns: 1fr;
		margin-bottom: 30px;
	}
}
