.item {
	display: block;
	transition: transform 0.3s;
	cursor: pointer;

	&:hover {
		transform: translateY(-3px);

		.play {
			color: #fff;
		}
	}
}

.top {
	position: relative;
	width: 100%;
	height: 204px;
	border-radius: 25px;
	overflow: hidden;
	margin-bottom: 17px;
	background-color: var(--color-loader);

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#0b1527, 0.7);
	}

	@media (max-width: 576px) {
		height: 158px;
		margin-bottom: 12px;
	}
}

.play {
	display: block;
	position: absolute;
	z-index: 2;
	width: 46px;
	height: 46px;
	top: 50%;
	left: 50%;
	color: rgba(#fff, 0.5);
	transform: translate(-50%, -50%);
	transition: color 0.3s;

	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: currentColor;
		object-fit: cover;
	}
}

.title {
	margin: 0;
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	color: var(--color-white);
	transition: color 0.3s;

	@media (max-width: 576px) {
		font-size: 20px;
		line-height: 36px;
	}
}

.desc {
	font-size: 14px;
	line-height: 25.2px;
	font-weight: 400;
	color: var(--color-light);
	transition: color 0.3s;
}
