.hero {
	overflow: hidden;
}

.container {
	padding: 0;
	padding-bottom: 100px;

	@media (max-width: 1500px) {
		padding: 0 20px 93px;
	}

	@media (max-width: 1024px) {
		padding-bottom: 70px;
	}

	@media (max-width: 768px) {
		padding: 0 var(--container-offset) 31px;
	}
}

.slider {
	position: relative;
	width: 100%;
	height: 588px;
	overflow: visible;
	padding: 0 var(--container-offset);

	@media (max-width: 1500px) {
		height: 500px;
	}

	@media (max-width: 768px) {
		padding: 0;
		height: auto;
	}
}

.item {
	display: block;
	width: 100%;
	height: 100%;

	@media (max-width: 768px) {
		padding-bottom: 56.25%;
	}
}

.slide {
	opacity: 0.5;
	border-radius: 45px;
	overflow: hidden;
	transition: opacity 0.3s;
	background-color: var(--color-loader);

	@media (max-width: 768px) {
		width: 80%;
		opacity: 1;
	}
}

.prev {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0;
	right: auto;
	transform: translate(-5px, -50%);

	@media (max-width: 768px) {
		display: none;
	}
}

.next {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: auto;
	right: 0;
	transform: translate(5px, -50%);

	@media (max-width: 768px) {
		display: none;
	}
}
