.container {
	margin-bottom: 20px;

	@media (max-width: 576px) {
		margin-bottom: 29px;
	}
}

.grades {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
	display: grid;
	column-gap: 9px;
	grid-template-columns: repeat(10, 1fr);

	@media (max-width: 1024px) {
		gap: 12px;
		grid-template-columns: repeat(5, 1fr);
	}
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.caption {
	font-size: 16px;
	line-height: 28.8px;
	color: #363c54;
	letter-spacing: 0.05em;
	cursor: text;
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 69px;
	height: 69px;
	cursor: pointer;
	font-size: 20px;
	line-height: 28.8px;
	background-color: #fff;
	color: #b6bdd5;
	transition: background-color 0.3s, color 0.3s;

	@media (max-width: 576px) {
		width: 53px;
		height: 53px;
		font-size: 16px;
		line-height: 23px;
	}

	@media (max-width: 360px) {
		width: 45px;
		height: 45px;
	}

	&:hover {
		background-color: var(--color-ice);
		color: #0c101f;
	}
}

.active {
	background-color: var(--color-ice);
	color: #0c101f;
}

.radio {
	display: none;
}
