.header {
    &:not(.absolute) {
        @media (max-width: 576px) {
            position: relative;
        }
    }
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 39px;
    max-width: 1506px;
    padding-left: 36px;

    @media (max-width: 1500px) {
        padding-left: var(--container-offset);
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "logo right lang toggle"
                             "nav nav nav nav";
    }

    @media (max-width: 576px) {
        padding-top: 20px;
        padding-bottom: 29px;
    }
}

.logo {
    position: relative;
    display: block;
    width: 167px;
    height: 37px;
    flex-shrink: 0;
    object-fit: cover;
    grid-area: logo;

    @media (max-width: 576px) {
        width: 155px;
        height: 34px;
    }

    @media (max-width: 360px) {
        width: 140px;
        height: 30px;
    }
}

.right {
    position: relative;
    display: flex;
    align-items: center;
    grid-area: right;
    padding-right: 3px;

    @media (max-width: 1500px) {
        justify-content: flex-end;
        margin-right: 20px;
    }

    @media (max-width: 1024px) {
        margin-right: 0;
    }

    @media (max-width: 576px) {
        position: static;
    }
}

.btn {
    @media (max-width: 1024px) {
        display: none;
    }
}

.toggle {
    @media (max-width: 1024px) {
        display: none;
    }
}