.container {
	padding-top: 52px;
	padding-bottom: 168px;

	@media (max-width: 1024px) {
		padding-bottom: 130px;
	}

	@media (max-width: 768px) {
		padding-bottom: 100px;
	}

	@media (max-width: 576px) {
		padding-top: 0;
		padding-bottom: 70px;
	}
}

.content {
	max-width: 952px;

	@media (max-width: 1024px) {
		max-width: 100%;
	}
}

.title {
	line-height: 74px;
	margin-bottom: 43px;

	@media (max-width: 1024px) {
		line-height: 64px;
	}

	@media (max-width: 768px) {
		line-height: 54px;
	}

	@media (max-width: 576px) {
		line-height: 39px;
		margin-bottom: 14px;
	}
}

.desc {
	&:not(:last-child) {
		margin-bottom: 37px;

		@media (max-width: 576px) {
			margin-bottom: 30px;
		}
	}

	p {
		margin: 0;
		font-size: 24px;
		line-height: 32px;
		color: var(--color-light);
		transition: color 0.3s;

		@media (max-width: 576px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.subtitle {
	line-height: 32px;
	margin-bottom: 20px;

	@media (max-width: 576px) {
		line-height: 27px;
		font-size: 20px;
		margin-bottom: 11px;
	}
}
