.link {
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	line-height: 36px;
	color: var(--color-primary);
	transition: color 0.3s, opacity 0.3s;

	&[disabled] {
		pointer-events: none;
	}

	@media (max-width: 576px) {
		font-size: 16px;
		line-height: 29px;
	}

	&:hover {
		text-decoration: underline;
		color: var(--color-primary-active);
	}
}

.sm {
	font-size: 16px;
	line-height: 23px;

	@media (max-width: 576px) {
		font-size: 14px;
		line-height: 20px;
	}
}
