.wrapper {
    position: relative;
}

.prev,
.next {
    position: absolute;
    z-index: 2;
    top: 38%;
}

.prev {
    left: 0;
    right: auto;
    transform: translate(-50%, 0);
}

.next {
    left: auto;
    right: 0;
    transform: translate(50%, 0);
}

.slider {
    overflow: visible;
}