.grid {
	display: grid;
	column-gap: 23px;
	row-gap: 46px;
	grid-template-columns: repeat(6, 1fr);

	@media (max-width: 1500px) {
		grid-template-columns: repeat(5, 1fr);
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (max-width: 768px) {
		column-gap: 11px;
		row-gap: 22px;
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 576px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
