.container {
	padding-top: 54px;
	padding-bottom: 106px;

	@media (max-width: 768px) {
		padding-bottom: 70px;
	}

	@media (max-width: 576px) {
		padding-top: 0;
		padding-bottom: 40px;
	}
}

.title {
	text-align: center;
	margin-bottom: 11px;

	@media (max-width: 576px) {
		font-size: 34px;
		line-height: 61px;
		margin-bottom: 0;
	}
}

.desc {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	max-width: 470px;
	margin: 0 auto 60px;
	text-align: center;
	color: var(--color-light);
	transition: color 0.3s;

	@media (max-width: 576px) {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 31px;
		max-width: 314px;
	}
}

.cards {
	display: grid;
	gap: var(--container-offset);
	grid-template-columns: repeat(2, 1fr);

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	@media (max-width: 576px) {
		gap: 12px;
	}
}
