.item {
	display: block;
	overflow: hidden;
	/* transition: transform 0.3s;

	&:hover {
		transform: translateY(-5px);
	} */
}

.top {
	position: relative;
	width: 100%;
	margin-bottom: 30px;

	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.poster {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 129%;
}

.image {
	border-radius: 25px;
	background-color: var(--color-loader);
}

[data-theme='light'] {
	.title {
		color: #404040;
	}
}

.status {
	display: inline-block;
	font-size: 16px;
	line-height: 28.8px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 12px;
	border-radius: 50px;
	padding: 3px 12px 4px 14px;
	background-color: var(--color-primary);

	@media (max-width: 768px) {
		padding: 2px 8px 2px 9px;
		margin-bottom: 7px;
		font-size: 14px;
		line-height: 25px;
	}
}

.title {
	margin: 0;
	display: block;
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	color: var(--color-white);
	transition: color 0.3s;

	@media (max-width: 1500px) {
		font-size: 22px;
	}

	@media (max-width: 768px) {
		font-size: 20px;
		line-height: 25px;
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 100%;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	border: 10px solid var(--color-dark);
	backdrop-filter: blur(60px);
	box-sizing: content-box;
	transform: translate(9px, -9px);
	transition: border-color 0.3s;

	svg {
		display: block;
		width: 18px;
		height: 18px;
		object-fit: cover;
	}
}
