.container {
	padding-bottom: 150px;
	padding-top: 54px;

	@media (max-width: 576px) {
		padding-top: 20px;
		padding-bottom: 100px;
	}
}

.title {
	text-align: center;
	margin-bottom: 40px;

	@media (max-width: 576px) {
		margin-bottom: 20px;
	}
}

.form {
	position: relative;
	padding: 30px 63px 44px;
	min-width: 465px;
	overflow: hidden;
	border: 1px solid rgba(#555c68, 0.2);
	border-radius: 25px;
	transition: border-color 0.3s;
	max-width: 706px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		padding: 40px 45px;
		min-width: 400px;
	}

	@media (max-width: 1024px) {
		min-width: 550px;
		width: auto;
	}

	@media (max-width: 768px) {
		min-width: 440px;
	}

	@media (max-width: 576px) {
		min-width: auto;
		width: 100%;
		padding: 35px 25px 30px;
	}

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background-image: url('/noise.png');
		background-blend-mode: soft-light, normal, normal;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.3;
		border-radius: 25px;
		transition: opacity 0.3s;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 25px;
		pointer-events: none;
		background-image: url('/background.png');
		opacity: 0.3;
		background-size: cover;
		background-repeat: no-repeat;
		transition: filter 0.3s;
	}
}

.formTitle {
	margin: 0;
	font-size: 44px;
	line-height: 79.2px;
	text-align: center;
	color: var(--color-white);
	margin-bottom: 21px;
	transition: color 0.3s;

	@media (max-width: 576px) {
		font-size: 25px;
		line-height: 40px;
	}
}

.formContainer {
	max-width: 347px;
	margin: 0 auto;

	@media (max-width: 576px) {
		max-width: 100%;
	}
}

.inputs {
	margin-bottom: 32px;

	@media (max-width: 576px) {
		margin-bottom: 25px;
	}
}

.input {
	width: 100%;

	&::placeholder {
		color: #93969f;
	}

	&:not(:last-child) {
		margin-bottom: 11px;

		@media (max-width: 576px) {
			margin-bottom: 8px;
		}
	}
}

.btn {
	padding: 25px 0 24px;
	width: 100%;

	@media (max-width: 576px) {
		font-size: 16px;
		line-height: 20px;
	}
}
