.title {
	margin: 0;
	font-weight: 500;
	color: var(--color-white);
	transition: color 0.3s;

	span {
		color: var(--color-primary);
	}
}

[data-theme='light'] {
	.title {
		color: #404040;
	}
}

.large {
	font-weight: 700;
	font-size: 74px;
	line-height: 84px;

	@media (max-width: 1024px) {
		font-size: 64px;
		line-height: 74px;
	}

	@media (max-width: 768px) {
		font-size: 54px;
		line-height: 64px;
	}

	@media (max-width: 576px) {
		font-size: 34px;
		line-height: 44px;
	}
}

.medium {
	font-size: 45px;
	line-height: 68px;

	@media (max-width: 576px) {
		font-size: 34px;
		line-height: 61px;
	}
}

.small {
	font-weight: 700;
	font-size: 24px;
	line-height: 45px;

	@media (max-width: 576px) {
		font-size: 20px;
		line-height: 35px;
	}
}
