[data-theme='light'] {
	.top {
		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}

	.desc {
		color: #828ca4;
	}
}

.top {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100vh;
	background-position: 30%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	@media (max-width: 576px) {
		min-height: 88vh;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(90deg, #0b1527 36.38%, rgba(11, 21, 39, 0.42) 65.78%);
		transition: opacity 0.3s;

		@media (max-width: 576px) {
			background: linear-gradient(0deg, rgba(12, 22, 40, 0.7), rgba(12, 22, 40, 0.7));
		}
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background: linear-gradient(90deg, #fff 36.38%, rgba(255, 255, 255, 0.42) 65.78%);
		transition: opacity 0.3s;

		@media (max-width: 576px) {
			background: linear-gradient(0deg, rgba(#fff, 0.85), rgba(#fff, 0.85));
		}
	}
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	position: relative;
	min-height: inherit;
	z-index: 2;
	padding-top: 134px;
	padding-bottom: 100px;

	@media (max-width: 1500px) {
		padding-top: 200px;
	}

	@media (max-width: 576px) {
		padding-top: 128px;
		padding-bottom: 87px;
	}
}

.title {
	margin-bottom: 13px;

	@media (max-width: 576px) {
		line-height: 39px;
	}
}

.chips {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 19px;

	@media (max-width: 576px) {
		margin-bottom: 14px;
	}
}

.chip {
	&:not(:last-child) {
		margin-right: 8px;
	}
}

.info {
	display: flex;
	align-items: center;
	margin-bottom: 17px;

	@media (max-width: 576px) {
		margin-bottom: 15px;
	}
}

[data-theme='light'] {
	.infoItem {
		color: #828ca4;
	}
}

.infoItem {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 36px;
	color: #ccd5e8;
	transition: color 0.3s;

	&:not(:last-child) {
		position: relative;
		padding-right: 12px;
		margin-right: 8px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 4px;
			height: 4px;
			background-color: #52596c;
			border-radius: 100%;
		}
	}
}

.desc {
	margin: 0;
	color: rgba(#ccd5e8, 0.8);
	max-width: 708px;
	margin-bottom: 33px;
	transition: color 0.3s;

	p {
		margin: 0;
		font-size: 20px;
		line-height: 28.8px;
	}

	@media (max-width: 576px) {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 23px;
	}
}

.rating {
	margin-bottom: 41px;

	@media (max-width: 576px) {
		margin-bottom: 0;
	}
}

[data-theme='light'] {
	.btns {
		@media (max-width: 576px) {
			background-color: rgba(#fff, 0.9);
			backdrop-filter: blur(45px);
		}
	}
}

.btns {
	display: flex;
	align-items: center;

	@media (max-width: 576px) {
		position: fixed;
		z-index: 10;
		bottom: 0;
		left: 0;
		width: 100%;
		justify-content: space-between;
		background-color: rgba(11, 21, 39, 0.8);
		backdrop-filter: blur(25px);
		border-radius: 45px 45px 0 0;
		padding: var(--container-offset);
		transition: background-color 0.3s;
	}

	@media (max-width: 360px) {
		padding: 18px 15px;
		border-radius: 35px 35px 0 0;
	}
}

.btn {
	padding-top: 0;
	padding-bottom: 0;
	min-width: 209px;
	height: 75px;
	margin-right: 10px;

	&[disabled] {
		pointer-events: none;
	}

	@media (max-width: 576px) {
		padding: 11.5px 10px 10.5px;
		height: auto;
		min-width: auto;
		width: 100%;
		font-size: 14px;
		line-height: 25px;
		margin-right: 5px;

		span {
			width: 18px;
			height: 18px;
		}
	}

	@media (max-width: 360px) {
		padding: 10px 10px 9px;
		font-size: 11px;
		line-height: 20px;

		span {
			width: 16px;
			height: 16px;
		}
	}
}
