.btn {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	font-family: inherit;
}

.icon {
	display: block;
	width: 25px;
	height: 27px;
	margin-right: 7px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}
