.wrapper {
	position: relative;

	@media (max-width: 768px) {
		margin-right: calc(var(--container-offset) / -100 * 100);
		margin-left: calc(var(--container-offset) / -100 * 100);
		padding: 0 var(--container-offset);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(#fff, 0.1);
		transition: background-color 0.3s;
	}
}

.list {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-bottom: 57px;
	overflow-y: hidden;
	overflow-x: auto;

	@media (max-width: 768px) {
		margin-right: calc(var(--container-offset) / -100 * 100);
		margin-left: calc(var(--container-offset) / -100 * 100);
		padding: 0 var(--container-offset);
	}

	&::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: 576px) {
		margin-bottom: 37px;
	}
}

.tab {
	position: relative;
	padding: 0;
	font-size: 28px;
	line-height: 50px;
	font-weight: 400;
	color: #ccd5e8;
	padding-bottom: 11px;
	outline: none;
	cursor: pointer;
	white-space: nowrap;
	transition: color 0.3s;

	@media (max-width: 1024px) {
		font-size: 24px;
		line-height: 30px;
	}

	@media (max-width: 576px) {
		padding-bottom: 7px;
		font-size: 16px;
		line-height: 28.8px;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	&:hover,
	&:active {
		color: var(--color-primary);
	}

	&:active {
		opacity: 0.8;
	}

	&:not(:last-child) {
		margin-right: 34px;

		@media (max-width: 1024px) {
			margin-right: 32px;
		}

		@media (max-width: 576px) {
			margin-right: 28px;
		}
	}
}

.selected {
	font-weight: 500;
	color: var(--color-primary);

	&:after {
		opacity: 1;
		visibility: visible;
	}
}

[data-theme='light'] {
	.wrapper:before {
		background-color: #dadee6;
	}

	.tab {
		&:not(.selected) {
			color: #818ca4;

			&:hover,
			&:active {
				color: var(--color-primary);
			}
		}
	}
}

.btn {
	font-family: 'Noah';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 180%;
	letter-spacing: 0.05em;
	border: 1px solid #3c4452;
	border-radius: 150px;
	padding: 21px 40px;
	background-color: transparent;
	margin: 0 auto;
	display: flex;
	cursor: pointer;
	align-items: center;
	transition: all 0.3s ease;
	> svg {
		margin-right: 12px;
		> path {
			transition: all 0.3s ease;
		}
	}
}
.btn:hover {
	color: #fca11a;
	> svg {
		> path {
			fill: #fca11a;
		}
	}
}
